.container {
  padding: 20px;
  font-family: "Roboto", Arial, sans-serif;
  /* text-align: center; */
  background: linear-gradient(135deg, #e3f2fd, #9CDBA6);
  min-height: 100vh;
}

.heading {
  text-align: center;
}

.container h1 {
  color: #2c3e50;
  margin-bottom: 6px;
  font-size: 2.2rem;
  font-weight: bold;
}

.searchBox {
  width: 100%;
  height: 8vh;
  max-width: 90vh;
  padding: 10px 15px;
  margin: 20px auto;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 40px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.imageContainer {

  width: 30%;
  height: 150px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  padding: 15px;
}

.card {
  margin: 10px;
  padding: 20px;
  min-width: 50vh;
  background: #9CDBA6;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c3e50;
  /* color: #2c3e50; */
  margin-bottom: 10px;
}

.details {
  font-size: 1rem;
  color: #468585;
  margin: 5px 0;
}

.bookButton {
  margin-top: 15px;
  padding: 10px 15px;
  background: #4caf50;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.bookButton:hover {
  background: #388e3c;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}