.container {
  padding: 2rem;
  background: linear-gradient(135deg, #e3f2fd, #9CDBA6);
  font-family: "Arial", sans-serif;
}

.heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.table th,
.table td {
  border: 1px solid #2c3e50;
  padding: 0.75rem;
  text-align: center;
}

.table th {
  font-weight: 800;
  background: linear-gradient(135deg, #c7efce, #81d6be);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  font-size: 18px;
  font-style: italic;
}

/* .table td {
  font-style: italic;
} */

.thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.thumb:hover {
  transform: scale(1.1);
}

.actionBtn {
  padding: 8px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 6px;
}

.scanBtn {
  background-color: #28a745;
  color: white;
}

.deleteBtn {
  background-color: #dc3545;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.fullImage {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.closeBtn {
  margin-top: 5px;
  position: absolute;
  top: -25px;
  right: -45px;
  background: #eb5858e7;
  border: 1px solid black;
  border-radius: 70%;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.scanLargeBtn {
  background: #28a745;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}