.scanReslutPage {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 3rem;
  background: linear-gradient(135deg, #e3f2fd, #9CDBA6);
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: linear-gradient(135deg, #ffffff44, #a1c4fd44, #c2e9fb44);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 1.8rem;
  color: #083a74;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subheading {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.drugList {
  margin-bottom: 2rem;
}

.drugList h3 {
  margin-bottom: 0.5rem;
}

.drugList ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.compareBtn {
  padding: 0.5rem 1rem;
  background-color: #005ea0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 1rem;
}

.compareBtn:hover {
  background-color: #004080;
}

.dropdown {
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 0.5rem;
}


.loading {
  color: #ff6600;
  font-weight: 500;
  margin-top: 1rem;
}

.results {
  margin-top: 2rem;
}

.desc {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  font-style: italic;
  color: #555;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.cardLeft {
  display: flex;
  align-items: center;
}

.sourceImage {
  width: 80px;
  height: auto;
  margin-right: 1rem;
  object-fit: contain;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
}

.cardDetails {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #222;
}

.cardPrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: #083a74;
}

.cardAccuracy {
  font-size: 0.85rem;
  color: #888;
}

.visitBtn {
  background-color: teal;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.visitBtn:hover {
  background-color: #007070;
}