.container {
  width: 100%;
  min-height: 100%;
  padding: 2rem 1rem;

  background: linear-gradient(135deg, #e3f2fd, #9CDBA6);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.infoSection {
  grid-column: span 3;
  color: white;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #2c3e50;
}

.subheading {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  text-align: center;
  color: #777;
}

.faqLink {
  text-decoration: none;
  color: #777;

}

.description {
  margin-top: 1rem;
  text-align: center;
  color: #777;
}

.contactDetails {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;

}

.contactItem:hover {
  transform: scale(1.05);
}

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  color: #1ff185;
}

.link {
  text-decoration: none;
  color: #333;
}


.contactTitle {
  font-size: 1.25rem;
  font-weight: 700;

}

.contactValue {
  font-size: 1rem;
  font-weight: 600;
}

.map {
  width: 100%;
  height: 16rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.formSection {
  grid-column: span 2;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  padding: 1.5rem;
  color: #2c3e50;
  background: #9CDBA6;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.formSection:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.formHeading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
  transition: transform 0.3s ease-out;
}

.input:hover,
.textarea:hover {
  transform: scale(1.05);
}

.textarea {
  height: 8rem;
}

.button {
  width: 100%;
  background-color: #16a34a;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #15803d;
  transform: scale(1.05);
}

.error {
  font-size: 0.875rem;
  color: #f87171;
  font-weight: bold;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}