.root {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image {
    width: 100%;
    height: 55vh;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}