.root {
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
}