.root{
    background-color: #fff;
    color: #000000;
}
.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    padding: 8px 14px;
    cursor: pointer;
}
.element{
    font-size: 15px;
    font-weight: 500;
}
.icon{
    font-weight: 600;
}