.root {
    background-color: #fff;
    color: #000000;
    min-width: 25%;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 14px;
    cursor: pointer;
}

.element {
    font-size: 15px;
    font-weight: 500;
}

.icon {
    font-weight: 600;
}