.root {
    color: #000000;
    background-color: #ffff;
}

.container {
    display: flex;
    width: 100%;
}

.heroSection {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.marqueeTextDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 8);
    height: 40px;
}